
.my-content{
	box-sizing: border-box;;
	background-color: #abacf0;
	margin-bottom: 25px;
}

@media(min-width: 992px){
	.col-md-4{
	padding: 15px;
		
	}}

@media(min-width: 768px) and (max-width: 991px){
	.col-sm-6{
	width:48%;
	margin-right: 2%;
	}
	.col-sm-12{
	width:98%;
	}
}
