
.my-content{
	box-sizing: border-box;;
	background-color: #abacf0;
	margin-bottom: 25px;
	padding: 15px;

}


@media(min-width: 992px) and(min-width: 1200px) {
	.col-md-4{
	padding: 10px;
		
	}}

@media(min-width: 768px) and (max-width: 991px){
	.col-sm-6{
	padding: 10px;
	}
	.col-sm-12{
	padding: 10px;
	}
}

#my-header, #my-container{
	margin-left: 10px;
	padding: 0px;
	box-sizing: border-box; 
}
.navbar-brand a{
	margin-left: 15px;
}
#nav-list li{
	border: solid #e7e7e7 1px;
	background-color: #ddd;
}
.navbar-nav{
	margin: 0px -15px;
}